<!-- <p>tasbeeh works!</p> -->
<h1 style="text-align: center;">This is Single Component Example</h1>
<div class="custom-container" style="margin: 0 auto; width: 50%">
<div class="centered-text">
    <p>{{count}}</p>
</div>


<div class="button-container">
<button class="increment-button "  (click)="onIncrement()">Increment</button>
<button class="reset-button"  (click)="onReset()">Reset Button</button>

<button class="decrement-button"  (click)="onDecrement()">Decrement</button>



</div>

</div>