<div class="main-container">
    <div class="left-container">1</div>
    <div class="right-container">
        <div class="top-container">2</div>
        <div class="middle-container">


            <div class="content-upper">
                <div class="button">4</div>
                <div class="button">5</div>
                <div class="button">6</div>

            </div>


            <div class="content-bottom">
                <div class="innerLeft">

                    <div class="innerLeftTop">7</div>
                    <div class="innerLeftMiddle">
                        <!-- <div style="flex: 1;background-color: white; border: 1px solid black;">
                            <div style="flex: 1;background-color: white; border: 1px solid black;"> -->
                        <div class="inside-left">
                            8
                        </div>
                        <div class="inside-right">
                            9
                        </div>

                    </div>
                    <div class="innerLeftBottom">10</div>
                </div>
                <div class="innerRight">

                    <div class="right-top">11</div>
                    <div class="right-bottom">12</div>
                </div>

            </div>


        </div>
        <div class="bottom-container">3</div>



    </div>


</div>