<div class="container">
    <h1 style="padding-left: 40%;"> {{title}}</h1><br><br>
    <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput placeholder="Enter Your Message" [(ngModel)]="message">
    </mat-form-field>


    <div class="show-result">

        <h2> Entered Text: {{enteredMessage}}</h2>
    </div>


    <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="option">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="show-result">

        <h2> Selected Option: {{selectedOption}}</h2>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="onClick()">Click Me</button>
    </div>


    <br><br>
    <div>
        <section>
            <mat-checkbox [(ngModel)]="isChecked" (ngModelChange)="onCheckboxChange($event)">Check Me</mat-checkbox>
        </section>

        <div class="show-result">

            <h2> CheckBox Value: {{isChecked}}</h2>
        </div>

    </div>


    <label id="example-radio-group-label">Pick Your Gender</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="gender">
        <mat-radio-button class="example-radio-button" *ngFor="let gender of genders"
            [value]="gender">{{gender}}</mat-radio-button>
    </mat-radio-group>

    <div class="show-result">

        <h2> Gender: {{gender}}</h2>
    </div>
</div>