<div class="dashboard-main">
    <div style="width: 30%; background-color: orange;">
        <menu-bar></menu-bar>
    </div>

    <div style="width: 70%; ">
        <router-outlet></router-outlet>

    </div>

</div>



<!-- <div class="app-container">
    <menu-bar></menu-bar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <div class="app-container">
    <div class="sidebar">
        <menu-bar></menu-bar>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div> -->